<div id="head">
    <video controls>
        <source src="/video/ACV.mp4" type="video/mp4">
    </video>
    <table class="gm">
        <tr>
            <td colspan="3">어쌔신 크리드<br>발할라</td>
        </tr>
        <tr style="overflow-y:auto; overflow-x:hidden; width:100%; height:150px;">
            <td colspan="3"><img src="/img/ACV.png"></td>
        </tr>
        <tr>
            <td>장르</td>
            <td>3인칭 오픈 월드 액션 RPG</td>
        </tr>
        <tr>
            <td>개발사</td>
            <td>Ubisoft</td>
        </tr>
        <tr>
            <td>배급사</td>
            <td>Ubisoft</td>
        </tr>
        <tr>
            <td>플랫폼</td>
            <td>PC<br>PS4, PS5<br>XBOX ONE, XBOX SERIES X|S</td>
        </tr>
        <tr>
            <td>출시일</td>
            <td>2020.11.10</td>
        </tr>
        <tr>
            <td>한국어<br>지원여부</td>
            <td>지원</td>
        </tr>
    </table>
</div>
<table class="type">
    <thead>
        <tr>
            <th class="top" style="text-align:left">글 번호</th>
            <th class="top">제목</th>
            <th class="top">작성자</th>
            <th class="top">작성일</th>
            <th class="top">조회수 </th>
        </tr>
    </thead>
    <tbody class="type06">
        <% const today=new Date(); %>
            <% text.forEach(function(text, i) { %>
                <% if (text.textView==true) { %>
                    <tr>
                        <td>
                            <%= text.textNum %>
                        </td>
                        <td>
                            <form action="/<%= title %>/view_<%= text.textNum %>" method="post">
                                <input type="hidden" name="title" value="<%= title %>">
                                <input type="submit" class="write" value="<%= text.textTitle %>">
                            </form>
                        </td>
                        <td>
                            <%= text.id %>
                        </td>
                        <td>
                            <% if (!text.update) { %>
                                <% if (text.create.toLocaleDateString("ko-KR", { year: 'numeric' , month: 'long' ,
                                    day: 'numeric' })==today.toLocaleDateString("ko-KR", { year: 'numeric' ,
                                    month: 'long' , day: 'numeric' })) { %>
                                    <%= text.create.toLocaleTimeString("ko-KR", { hour: 'numeric' , minute: 'numeric' })
                                        %>
                                        <% } else { %>
                                            <%= text.create.toLocaleDateString("ko-KR", { year: 'numeric' ,
                                                month: 'long' , day: 'numeric' }) %>
                                                <% } %>
                                                    <% } else { %>
                                                        <% if (text.update.toLocaleDateString("ko-KR", { year: 'numeric'
                                                            , month: 'long' , day: 'numeric'
                                                            })==today.toLocaleDateString("ko-KR", { year: 'numeric' ,
                                                            month: 'long' , day: 'numeric' })) { %>
                                                            <%= text.update.toLocaleTimeString("ko-KR", {
                                                                hour: 'numeric' , minute: 'numeric' }) %>
                                                                <% } else { %>
                                                                    <%= text.update.toLocaleDateString("ko-KR", {
                                                                        year: 'numeric' , month: 'long' , day: 'numeric'
                                                                        }) %>
                                                                        <% } %>
                                                                            <% } %>
                        </td>
                        <td>
                            <%= text.textViewer %>
                        </td>
                    </tr>
                    <% } %>
                        <% }); %>
    </tbody>
</table>

<% if (isLoggedIn) { %>
    <form action="/write" method="post" style="text-align: center;">
        <input type="hidden" name="title" value="<%= title %>">
        <input type="submit" class="write" value="글 작성">
    </form>
    <% } %>
        <br><br><br><br><br>