<div id="head">
    <video controls>
        <source src="/video/ACV.mp4" type="video/mp4">
    </video>
    <table class="gm">
        <tr>
            <td colspan="3">어쌔신 크리드<br>발할라</td>
        </tr>
        <tr style="overflow-y:auto; overflow-x:hidden; width:100%; height:150px;">
            <td colspan="3"><img src="/img/ACV.png"></td>
        </tr>
        <tr>
            <td>장르</td>
            <td>3인칭 오픈 월드 액션 RPG</td>
        </tr>
        <tr>
            <td>개발사</td>
            <td>Ubisoft</td>
        </tr>
        <tr>
            <td>배급사</td>
            <td>Ubisoft</td>
        </tr>
        <tr>
            <td>플랫폼</td>
            <td>PC<br>PS4, PS5<br>XBOX ONE, XBOX SERIES X|S</td>
        </tr>
        <tr>
            <td>출시일</td>
            <td>2020.11.10</td>
        </tr>
        <tr>
            <td>한국어<br>지원여부</td>
            <td>지원</td>
        </tr>
    </table>
</div>

<table class="type">
    <thead>
        <tr>
            <th colspan="4" class="top" style="text-align:left">게시판 글보기</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>글 제목</td>
            <td>
                <%= text.textTitle %>
            </td>
            <td>조회수</td>
            <td>
                <%=text.textViewer + 1 %>
            </td>
        </tr>
        <tr>
            <td>작성자</td>
            <td>
                <%= text.id %>
            </td>
            <td>작성일자</td>
            <td>
                <% const today=new Date(); %>
                    <% if (!text.update) { %>
                        <% if (text.create.toLocaleDateString("ko-KR", { year: 'numeric' , month: 'long' ,
                            day: 'numeric' })==today.toLocaleDateString("ko-KR", { year: 'numeric' , month: 'long' ,
                            day: 'numeric' })) { %>
                            <%= text.create.toLocaleTimeString("ko-KR", { hour: 'numeric' , minute: 'numeric' }) %>
                                <% } else { %>
                                    <%= text.create.toLocaleDateString("ko-KR", { year: 'numeric' , month: 'long' ,
                                        day: 'numeric' }) %>
                                        <% } %>
                                            <% } else { %>
                                                <% if (text.update.toLocaleDateString("ko-KR", { year: 'numeric' ,
                                                    month: 'long' , day: 'numeric' })==today.toLocaleDateString("ko-KR",
                                                    { year: 'numeric' , month: 'long' , day: 'numeric' })) { %>
                                                    <%= text.update.toLocaleTimeString("ko-KR", { hour: 'numeric' ,
                                                        minute: 'numeric' }) %>
                                                        <% } else { %>
                                                            <%= text.update.toLocaleDateString("ko-KR", {
                                                                year: 'numeric' , month: 'long' , day: 'numeric' }) %>
                                                                <% } %>
                                                                    <% } %>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="padding-top:40px;">내용</td>
        </tr>
        <tr>
            <td colspan="4" style="width:100px; height:200px; text-align:left;">
                <%= text.textContent %>
            </td>
        </tr>
    </tbody>
</table>

<div id="fix">
    <table>
        <tr>
            <td><a class="mandd" onclick="history.back()">목록</a></td>


            <% if (isLoggedIn) { %>
                <% if (text.id==username) { %>
                    <td>
                        <form action="/<%= title %>/modified_<%= text.textNum %>" method="post">
                            <input type="hidden" name="textNumber" value="<%= text.textNum %>">
                            <input type="hidden" name="title" value="<%= title %>">
                            <input class="mandd" type="submit" value="수정">

                        </form>
                    </td>
                    <td>
                        <form action="/deleteAction" method="post">
                            <input type="hidden" name="textNumber" value="<%= text.textNum %>">
                            <input type="hidden" name="title" value="<%= title %>">
                            <input class="mandd" type="submit" value="삭제" onclick="return confirm('정말로 삭제하시겠습니까?')">

                        </form>
                    </td>
                    <% } %>
                        <% } %>
                            <td>
                                <% if (isLoggedIn) { %>
                                    <form action="/write" method="post" style="text-align: center;">
                                        <input type="hidden" name="title" value="<%= title %>">
                                        <input type="submit" class="mandd" value="글 작성">
                                    </form>
                                    <% } %>
                            </td>
        </tr>
    </table>
</div>